/* Global styles */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    color: #fff; 
}

body.index {
    
    background-image: url(https://imgur.com/BRPxvBW.gif); 
}

body.whatisavn {
    background-image: url(https://imgur.com/q22tgF6.gif); 
}

body.rankings {
    background-image: url(https://imgur.com/RGyFJ0H.gif); 
}

body.recommendations {
    background-image: url(https://imgur.com/Pm35Adv.gif); 
}

body.history {
    background-image: url(https://imgur.com/tMAL87G.gif);
}


header {
    background-color: #333;
    color: #fff;
    padding: 5vh 5vw; 
    font-size: 2vw; 
}
nav {
    position: fixed;
    top: 0;

    width: 100%;
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid black; 
    box-shadow: 0px 2px 5px rgb(255, 255, 255); 
    padding: 2vh 5vw; 
    z-index: 1000;
    

  
}

nav a {
    display: inline-block; 
    text-decoration: none;
    color: #fff; 
    background-color: #00000072; 
    padding: 1vh 2vw; 
    border-radius: 5px;
    transition: background-color 0.3s, padding 0.3s; 
    font-size: 2vw; 
  
}

nav a:hover, nav a.active {
    padding: 1.5vh 3vw; 
    box-shadow: 0 0 10px 5px rgb(255, 255, 255); 
}





.content {
    padding: 20px;
    text-align: center;
}

table.rankings-table {
    margin: 20px auto; 
   
}

table.rankings-table td {
    padding: 0;
    position: relative;
}

table.rankings-table img {
    width: 200px; 
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 15px; 
    transition: transform 0.3s, filter 0.3s;
}

table.rankings-table td:hover img{
    transform: scale(1.1); 
    filter: brightness(70%);
    box-shadow: 0 0 10px 5px rgb(0, 0, 0)
}

.info-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.541); 
    padding: 10px;
    
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s; 
}

table.rankings-table td:hover .info-overlay {
    opacity: 1;
}

.info-overlay p {
    margin: 5px 0;
    color: #fff;
}

.content-whatisavn h1 {
    margin-top: 100px; 
    padding: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(0, 0, 0);
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black; 
}



.writing-area {
    background-color: rgba(0, 0, 0, 0.258); 
    border-radius: 15px; 
    padding: 4vh; 
    color: #fff;
    margin: 1vh auto 0; 
    max-width: 80vw; 
    transition: background-color 0.3s, padding 0.3s;
    font-size: calc(1.3vw + 1vh);
   height: 50vh;

  

    
}
.writing-area:hover {
    background-color: rgba(0, 0, 0, 0.258); 
    padding: 5vh; 
    box-shadow: 0 0 10px 5px rgb(0, 0, 0); 
    
    
}
.writing-area1 {
    background-color: rgba(0, 0, 0, 0.258); 
    border-radius: 15px;
    padding: 4vh; 
    color: #fff;
    margin: 60vh auto 0; 
    max-width: 80vw; 
    transition: background-color 0.3s, padding 0.3s;
    font-size: calc(1.3vw + 1vh);
   height: 50vh;
}
.writing-area1:hover {
    background-color: rgba(0, 0, 0, 0.258); 
    padding: 17px 27px;
    box-shadow: 0 0 10px 5px rgb(0, 0, 0);
    
}
.writing-area2 {
    background-color: rgba(0, 0, 0, 0.258); 
    border-radius: 15px;
    padding: 4vh; 
    color: #fff;
    margin: 60vh auto 0; 
    max-width: 80vw; 
    transition: background-color 0.3s, padding 0.3s;
    font-size: calc(1.3vw + 1vh);
   height: 50vh;
}
.writing-area2:hover {
    background-color: rgba(0, 0, 0, 0.258);
    padding: 17px 27px; 
    box-shadow: 0 0 10px 5px rgb(0, 0, 0); 
    
}
.purpose {
    position: relative;
    border-radius: 15px;
    padding: 5vw; 
    color: #fff;
    margin: 20vh auto 2vh; 
    max-width: 40vw;
    font-size: calc(2vw + 1vh);
    box-shadow: 0 0 10px 5px rgb(0, 0, 0);
    overflow: hidden;
    height: 30vh;
}

.purpose::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://imgur.com/psGWlrN.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.4; 
    z-index: -1;
    border-radius: 15px;
}


.purpose p {
    color: #fff;
}


.purpose-2 {
    padding: 20px; 
    color: #ffffff57; 
    max-width: 900px; 
    font-size: 6vw;
    margin: 20px auto; 
    margin-top: -50px; 
    text-align: center; 
}


.histo {
    background-color: rgba(0, 0, 0, 0.258); 
    border-radius: 15px; 
    padding-bottom: 3vh;
    padding-top:3vh;
    padding-right: 3vw; 
    padding-left: 3vw;
    color: #fff; 
    margin: 10vh auto 0;
    max-width: 80vw; 
    transition: background-color 0.3s, padding 0.3s;
    font-size: calc(1vw + 1vh);
   height: 50vh;
    
}
.histo:hover {
    background-color: rgba(0, 0, 0, 0.258); 
    padding: 4vh; 
    box-shadow: 0 0 10px 5px rgb(0, 0, 0); 
}
.content-histo h1{
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(0, 0, 0); 
    -webkit-text-stroke: 1px black; 
    text-stroke: 1px black; 

}
.content-rank h1{
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(0, 0, 0); 
    -webkit-text-stroke: 1px black; 
    text-stroke: 1px black;
}
.content-recco h1{
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(0, 0, 0); 
    -webkit-text-stroke: 1px black; 
    text-stroke: 1px black; 
}
.left-image, .right-image {
    position: absolute;
    top: 120%;
    transform: translateY(-50%);
    
}

.left-image {
    left: 60px;
}

.right-image {
    right: 60px;
}

.left-image img, .right-image img {
    border-radius: 15px; 
    width: 25vw; 
    height: 40vh; 
    box-shadow: 0 0 10px 5px rgb(0, 0, 0);
}
.writing-reco {
    background-color: rgba(0, 0, 0, 0.258);
    border-radius: 15px; 
    padding-bottom: 1vh;
    padding-top:1vh;
    padding-right: 3vw; 
    padding-left: 3vw;
    color: #fff;
    margin: 10vh auto 0; 
    max-width: 80vw;
    transition: background-color 0.3s, padding 0.3s;
    font-size: calc(1vw + 1vh);
   height: 40vh;
}
.writing-reco:hover {
    background-color: rgba(0, 0, 0, 0.258);
    padding: 3vh; 
    box-shadow: 0 0 10px 5px rgb(0, 0, 0);
}
.upperr img {
    border-radius: 15px;
    width: 20vw; 
    height: 40vh; 
    box-shadow: 0 0 10px 5px rgb(0, 0, 0);
}
.upperr {
    position: absolute;
    top: 85%; 
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.writing-reco1 {
    background-color: rgba(0, 0, 0, 0.258);
    border-radius: 15px; 
    padding-bottom: 1vh;
    padding-top:1vh;
    padding-right: 3vw; 
    padding-left: 3vw;
    color: #fff; 
    margin: 60vh auto 0;
    max-width: 80vw;
    transition: background-color 0.3s, padding 0.3s;
    font-size: calc(1vw + 1vh);
   height: 40vh;
}
.writing-reco1:hover {
    background-color: rgba(0, 0, 0, 0.258);
    padding: 3vh;
    box-shadow: 0 0 10px 5px rgb(0, 0, 0); 
}
.dangan img {
    border-radius: 15px; 
    width: 20vw; 
    height: 40vh;
    box-shadow: 0 0 10px 5px rgb(0, 0, 0);
    max-width: 90vw;
}
.dangan {
    position: absolute;
    top: 185%; 
    transform: translateY(-50%);
    left: 50%; 
    transform: translateX(-50%);
}


.secondimg img,
.thirdimg img {
    border-radius: 15px; 
 max-width: 90vw; 
    height: 40vh; 
    box-shadow: 0 0 10px 5px rgb(0, 0, 0);
    width:40vw;
   
}
.firstimg img {
    border-radius: 15px; 
    max-width: 90vw; 
    height: 40vh;
    box-shadow: 0 0 10px 5px rgb(0, 0, 0);
    width: 40vw;
  
}

.firstimg {
    position: absolute;
    top: 95%; 
    transform: translateY(-50%);
    left: 50%; 
    transform: translateX(-50%);
}


.secondimg {
    position: absolute;
    top: 210%; 
    transform: translateY(-50%);
    left: 50%; 
    transform: translateX(-50%);
}

.thirdimg {
    position: absolute;
    top: 330%; 
    transform: translateY(-50%);
    left: 50%; 
    transform: translateX(-50%);
}

@media only screen and (max-width: 400px) {
  .firstimg,
  .secondimg,
  .thirdimg,
  .left-image,
  .right-image,
  .upperr,
  .dangan {
    display: none;
  }
  .writing-area,
  .writing-area1,
  .writing-area2{
    margin: 20px auto 0;
  }
    .purpose::before {
      
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('https://imgur.com/psGWlrN.jpg');
        background-size: cover;
        opacity: 0.4;
        z-index: -1;
        border-radius: 15px;
        background-position: center center;
    }

  
    nav {
      width: 100%;
      padding: 3px;
      text-align: center;
    }
  
    nav a {
      display: inline-block;
      margin: 5px;
      padding: 2px 5px;
    }
  

    .writing-area,
    .writing-area1,
    .writing-area2,
    .writing-reco,
    .writing-reco1,
    .histo {
        border-radius: 15px; 
        width: 80%;
    }
  
  
}
